<server description="Sample Liberty server">

  <featureManager>
    <feature>jaxrs-2.1</feature>
    <feature>mpRestClient-1.1</feature>
  </featureManager>

  <applicationManager autoExpand="true" />

  <httpEndpoint host="localhost" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

  <webApplication location="io.openliberty.sample.restclient.lillibrary.war" contextRoot="/"/>
</server>
